body {
    background-color: rgb(51, 48, 48);
    background-image: url(../images/circles.svg);
    background-repeat: repeat-x;
    background-position: center center;
    background-attachment: fixed;
}
:focus {
    outline: none;
}

/* Page Header Start */
header {
    margin: 0;
    padding: 0;
    background-color: rgb(37, 36, 36);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img {
    padding: 15px;
    margin: 15px;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
}
header a {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -moz-tap-highlight-color: rgba(255, 255, 255, 0);
}
header a::-moz-selection {
    -moz-user-select: none;
  }
header h1 {
    display: block;
    text-align: center;
    color: rgba(255, 255, 255, 0.0);
    text-shadow: 2px 1px yellow;
    font-family: 'Tangerine', cursive;
    cursor: default;
}
header h1::selection {
  background-color: inherit;
}
header h1::-moz-selection {
  background-color: inherit;
}
header ul {
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}
header li {
    display: inline;
    padding: 0;
    margin: 0 5px;
}
#bannerandnav a {
    color: black;
    height: auto;
    display: inline-block;
    text-decoration: none;
    padding: 5px 15px 5px 15px;
    background-color: goldenrod;
    text-decoration: none;
    border-radius: 10%;
    overflow: hidden;
}
#bannerandnav a:hover {
    color: white;
    -webkit-transition: color 0s ease-out 0s;
    -moz-transition: color 0s ease-out 0s;
    -ms-transition: color 0s ease-out 0s;
    -o-transition: color 0s ease-out 0s;
    transition: color 0s ease-out 0s;
    background-color: purple;
}
#bannerandnav a:active {
    text-shadow: 1px 1px 1px red;
    background-color: purple;
}
#bannerandnav .current {
    color: yellow;
    background-color: purple;
}
/* Page Header End */