/* start of page layout */
html {
    height: 100%;
    overflow-y: scroll;
}
header {
    display: flex;
    /*align-items: center;*/
    /*justify-content: space-between;*/
}
.left {
    flex: 1;
    text-align: left;
}
#bannerandnav {
    flex: 4;
}
.right {
    flex: 1;
    text-align: right;
}
main {
    display: flex;
}
.sidebar1 {
    flex: 1;
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imageslider {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slider {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.slider img {
    flex: 1;
}
.content {
    flex: 4;
    order: 2;
}
.sidebar2 {
    flex: 1;
    order: 3;
}
.topics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* end of page layout */

/* Media Queries for Browser Resizing */

@media (max-width: 1050px) {
    main {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
    }
    .content {
        flex: 2;
        width: 100%;
        height: auto;
    }
    header h1 {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (max-width: 850px) {
    header li {
        display: block;
    }
    header li a {
        margin: 5px;
    }
}
/* End of Media Queries for Browser Resizing */

/* Basic Media Query for Hand-held Devices */
@media only screen and (max-device-width: 812px) {
    #bannerandnav {
        flex: 2;
        padding-bottom: 25px;
    }
    main {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
    }
    .content {
        flex: 2;
        width: 100%;
        height: auto;
    }
    header li {
        display: block;
    }
    header li a {
        margin: 5px;
    }
    h1 {
        transform: scale(0);
        position: absolute;
    }
    header ul {
        position: relative;
    }
    small {
        padding-left: 5px;
        padding-right: 5px;
    }
}
/* End of Media Query for Hand-held Devices */
