/* start of page layout */
html, body {
    height: 100%;
    min-width: 850px;
    overflow: auto;
}
header {
    display: flex;
    /*align-items: center;*/
    /*justify-content: space-between;*/
}
.left {
    flex: 1;
    text-align: left;
}
#bannerandnav {
    flex: 4;
}
.right {
    flex: 1;
    text-align: right;
}
main {
    display: flex;
}
.sidebar1 {
    flex: 1;
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imageslider {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slider {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.slider img {
    flex: 1;
}
.content {
    flex: 4;
    order: 2;
}
.sidebar2 {
    flex: 1;
    order: 3;
}
.topics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align: center;
}
/* end of page layout */