/* Background image setup */
html {
    height: 100%;
    overflow: hidden;
    overflow-y: visible;
}
body {
    height: 100%;
}
.background {
    display: block;
    background-image: url(../images/circle.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    margin-bottom: -30px;
    height: 100%;
    width: 100%;
}
.background:hover {
    background-image: url(../images/transcircle.svg);
}
/* End of image setup */

/* Right spin effect */
.spin-right {
    position: absolute;
    animation: spinright 5s ease-out 0s;
    -webkit-animation: spinright 5s ease-out 0s;
    -moz-animation: spinright 5s ease-out 0s;
    -ms-animation: spinright 5s ease-out 0s;
    -o-animation: spinright 5s ease-out 0s;

}
@keyframes spinright {
    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinright {
    100% {
        -moz-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spinright {
    100% {
        -webkit-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
@-ms-keyframes spinright {
    100% {
        -ms-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
    }
}
@-o-keyframes spinright {
    100% {
        -o-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}
/* End of right spin effect */

/* Left spin effect */
.spin-left {
    position: absolute;
    animation: spinleft 5s ease-out 0s;
    -webkit-animation: spinleft 5s ease-out 0s;
    -moz-animation: spinleft 5s ease-out 0s;
    -ms-animation: spinleft 5s ease-out 0s;
    -o-animation: spinleft 5s ease-out 0s;

}
@keyframes spinleft {
    100% {
        transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
@-moz-keyframes spinleft {
    100% {
        -moz-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
    }
}
@-webkit-keyframes spinleft {
    100% {
        -webkit-transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}
@-ms-keyframes spinleft {
    100% {
        -ms-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
    }
}
@-o-keyframes spinleft {
    100% {
        -o-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
    }
}
/* End of left spin effect */

/* Start of delayed fade in effect */
.delayed-fade-in {
    animation: dfadeIn 13s linear 0s;
    -webkit-animation: dfadeIn 13s linear 0s;
    -moz-animation: dfadeIn 13s ease-in 0s;
    -ms-animation: dfadeIn 13s ease-in 0s;
    -o-animation: dfadeIn 13s ease-in 0s;
}

@keyframes dfadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes dfadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes dfadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-ms-keyframes dfadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes dfadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* End of delayed fade in effect */